* {
    box-sizing: border-box;
}
  
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
    margin: 0;
    padding: 0;
}

@font-face {
    
    src: url(/font/LEMONMILK-Regular.otf);
    font-family: llemon;
}


.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
    
}

.jumbotron {
    font-family: llemon;
    
    color: white;
    background-image: url(img/jumbotron.png);
    background-size: cover;
    height: 600px;
    width: 100%;
}

.jumbotron h1{
    padding-top: 300px;
    font-family: llemon;
}

span{
    color: rgb(228, 17, 182);
}

section {
    padding: 50px 0px;
    min-height: 600px;
    background-color: black;
    width: 100%;
}

hr {
    width: 250px;
    border-top: 4px solid white;
}

.tab {
    display: inline-block;
    margin-left: 40px;
}

p {
    color :white;  
}

a {
    text-decoration: none;
}

/* profil */
.bbar .pp {
    height: 700px;
    width: 500px;
    padding-top: 50px;
}

.Pro {
    text-align: justify;
    font-size: 19px;
    padding-top: 40px;
    
}

/* film */
.film img {
    width: 150px;
}

.film p{
    font-size: 20px;
}

/* portpolio */
h2 {
    font-family: llemon;
    color: white;
}

.b1 {
    padding-bottom: 50px;
}

.scren {
    padding: 20px;
}

.container-fluid img {
    width: 250px;
    padding: 15px
}

.nav-item li {
    float: right;
}

/* kontak */
form {
    color: white;
}


/* footer */
footer {
    background-color: gray;
    height: 100px;
    padding-top: 40px;
}



@media all and (max-width: 670px) {
    .bbar .pp {
        height: 450px;
        width: 300px;
        padding-top: 50px;
    }
}
